.App {
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 18px;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#container {
  display: flex;
  height: 100%;
}

#leftSide {
  width: 50%;
  border-right: 2px solid black;
  height: 900px;
}

#rightSide {
  width: 50%;
}

input {
  margin: 10px;
  border-radius: 3px;
}

input:focus {
  border-color: green;
  outline: none;
}

label {
  margin-left: 30px;
}

h3 {
  margin-left: 30px;
  margin-top: 60px;
}

#rightSide div {
  margin-left: 30px;
}

button.addPeriod {
  margin-left: 30px;
  font-weight: bold;
  background-color: orange;
  border: 1px;
}

button.addPeriod:hover {
  border: solid grey;
  cursor: pointer;
}

button#submit-button {
  background-color: lightgreen;
  display: block;
  margin-top: 50px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  border: solid grey;
  box-shadow: none;
  margin-left: 80%;
}

button#submit-button:hover {
  background-color: green;
  cursor: pointer;
}

input#from,
input#to {
  width: 100px;
}

h1 {
  text-align: center;
}

#lesser-title {
  text-align: center;
}
